[core]
	editor = vim
[alias]
  co = checkout
  st = status
  cm = commit
  b  = branch
  ba = branch -a
[color]
  ui = auto
[push]
  default = simple

[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
