.television
  background-color: white
  padding: 15px
  margin: 0 auto
  img
    width: 100%
  .col-xs-12
    img
      margin-bottom: 15px
    .owl-carousel
      .owl-controls
        width: 100%
        .owl-nav
          .owl-prev
            position: absolute
            left: 15px
          .owl-next
            position: absolute
            right: 15px
  .col-xs-4
    img
      margin-bottom: 13px
  .owl-carousel-television
    padding-top: 0px
    overflow: hidden
    @media (min-width: $desktop-break)
      height: $destacados-container-height
      min-height: $destacados-container-height
      max-height: $destacados-container-height
    @media (max-width: $desktop-break)
      height: auto
    +carousels-buttons
  .list-videos
    margin-top: 15px