.trio-item
    border: none

.trio-item-body
    height: 233px
    overflow: hidden
    border: 1px solid #e6263f
    padding: 0px 2px

.trio-item.h-small
    height: 270px

.trio-list-item
    border-left: none
    border-right: none
    border-bottom: none
